
body {
    background-image: url(../images/photo-1486312338219-ce68d2c6f44d.psd);
    background-repeat: no-repeat;
    background-size: 198vh;
    background-position-y: -280px;

}   
#landingpage, #mainContent, #portfolioContent, #contactContent{
    height: 100vh;
}

.container {
    padding-left: 300px !important;
    margin-left: 200px;
    height: 100vh;
    border-left: 1px solid rgb(0, 0, 0);
}

#navBtns {
    position: fixed;
    top:0;
    width: 200px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: .7;
    padding-top:140px;
}
#phoneNum{
    font-size: .99em;
     position: fixed;
    bottom:35px;
    padding-left: 5px;
    width: 200px;
    background-color: rgb(38, 38, 38);
    color: white;
 }

#social {
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 200px;

}
#social > a > img {
    background-color: white;
    width: 30px;
    margin-left: 12px;
}

#homeBtn, #aboutMeBtn,#portfolioBtn, #contactMeBtn{
    display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    border:none;
    font-size: 1.6em;
    outline: none;
}
#homeBtn:hover, #aboutMeBtn:hover, #portfolioBtn:hover, #contactMeBtn:hover {

    background-color: black;
    color: white;
    transition: .5s all ease;
}

#portfolioImg {
    border: 2px solid green;
    margin-right: 30px;
    
}
#p{
 font-family: 'Courier New', Courier, monospace;
}
#aboutMe, #portfolio, #contactMe {
    padding: 5%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}


#textarea {
    border-radius: 5px;
    margin-top: 40px;
    height: 200px;
    width: 100%;
}
#inputName{
    border: 1px solid black;
}
#inputEmail{
    border: 1px solid black;
}
#submitBtn {
    border: 1px solid black;
    border-radius: 5px;
}
.btn {
    background-color: rgb(92, 92, 92);
    width: 100%;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
div > div > div > .btn {
    background-color: rgb(0, 0, 0);
}
div > div > div > .btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.card.col-sm-3.col-6{
position: static;
padding: 0;
margin: 20px;
background-color: black;

}
@media (max-width: 1440px) {
    body {


    }   
    .container {
        width: 75%;
        height: 100vh;
        padding-left: 100px !important;
    }
    #navBtns {
        position: fixed;
        top:0;
        width: 200px;
        height: 100%;
        background-color: black;
        padding-top:140px;
    }
    #phoneNum{
        font-size: .99em;
         position: fixed;
        bottom:35px;
        padding-left: 5px;
        width: 200px;
        background-color: rgb(38, 38, 38);
        color: white;
     }
    #social {
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom: 0;
        width: 200px;
        border: 1px solid rgb(194, 117, 0);
    }
    #social > a > img {
        background-color: white;
        width: 30px;
        margin-left: 12px;
    }
    #homeBtn,
    #aboutMeBtn, 
    #portfolioBtn, 
    #contactMeBtn {
        width: 200px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1.6em;
        outline: none;
        border-top: 1px solid rgb(194, 117, 0);;

    }
    #homeBtn:hover,
    #aboutMeBtn:hover,
    #portfolioBtn:hover,
    #contactMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #portfolioImg {
        border: 2px solid green;
        margin-right: 30px;
        
    }
    #p{
     font-family: 'Courier New', Courier, monospace;
    }
    #aboutMe,
    #portfolio,
    #contactMe {
        padding: 5%;
        background-color: rgb(255, 255, 255);
    }
    
    #textarea {
        border-radius: 5px;
        margin-top: 40px;
        height: 200px;
        width: 100%;
    }
    #inputName{
        border: 1px solid black;
    }
    #inputEmail{
        border: 1px solid black;
    }
    #submitBtn {
        border: 1px solid black;
        border-radius: 5px;
    }
    .btn {
        background-color: rgb(92, 92, 92);
        width: 100%;
        color: white;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    div > div > div > .btn {
        background-color: rgb(0, 0, 0);
    }
    div > div > div > .btn:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    #motto {
        border-bottom: #4074b5 solid 2px;
        top:0;
        transition: top 0.5s;
        display: block;
        height: 16.6%;
        width: 100%;
        position: fixed;
        left: 120px;
        color: white;
        font-size: 16.7vh;
        text-align: center;
        color: #FFFFFF;
        background: #FFFFFF;
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    }
    
    .card.col-sm-3.col-6{
    position: static;
    padding: 0;
    margin: 20px;
    background-color: black;
    
    }
    
}
@media (max-width: 1200px) {
    
    .container {
        width: 75%;
        height: 100vh;
        padding-left: 90px !important;
    }
    #navBtns {
        position: fixed;
        top:0;
        width: 200px;
        height: 100%;
        background-color: black;
        padding-top:140px;
    }
    #phoneNum{
        font-size: .99em;
         position: fixed;
        bottom:35px;
        padding-left: 5px;
        width: 200px;
        background-color: rgb(38, 38, 38);
        color: white;
     }
    #social {
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom: 0;
        width: 200px;
        border: 1px solid rgb(194, 117, 0);
    }
    #social > a > img {
        background-color: white;
        width: 30px;
        margin-left: 12px;
    }
    #homeBtn,
    #aboutMeBtn, 
    #portfolioBtn, 
    #contactMeBtn {
        width: 200px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1.6em;
        outline: none;
        border-top: 1px solid rgb(194, 117, 0);;

    }
    #homeBtn:hover,
    #aboutMeBtn:hover,
    #portfolioBtn:hover,
    #contactMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #portfolioImg {
        border: 2px solid green;
        margin-right: 30px;
        
    }
    #p{
     font-family: 'Courier New', Courier, monospace;
    }
    #aboutMe,
    #portfolio,
    #contactMe {
        padding: 5%;
        background-color: rgb(255, 255, 255);
    }
    
    #textarea {
        border-radius: 5px;
        margin-top: 40px;
        height: 200px;
        width: 100%;
    }
    #inputName{
        border: 1px solid black;
    }
    #inputEmail{
        border: 1px solid black;
    }
    #submitBtn {
        border: 1px solid black;
        border-radius: 5px;
    }
    .btn {
        background-color: rgb(92, 92, 92);
        width: 100%;
        color: white;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    div > div > div > .btn {
        background-color: rgb(0, 0, 0);
    }
    div > div > div > .btn:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    #motto {
        border-bottom: #4074b5 solid 2px;
        top:0;
        transition: top 0.5s;
        display: block;
        height: 16.6%;
        width: 100%;
        position: fixed;
        left: 120px;
        color: white;
        font-size: 16.7vh;
        text-align: center;
        color: #FFFFFF;
        background: #FFFFFF;
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    }
    
    .card.col-sm-3.col-6{
    position: static;
    padding: 0;
    margin: 20px;
    background-color: black;
    
    }
    
}
@media (max-width: 991.98px) {
    .container {
        width: 70%;
        height: 900px;
    }
    
    #navBtns {
        position: fixed;
        top:0;
        width: 200px;
        height: 100%;
        background-color: black;
        padding-top:140px;
    }
    #phoneNum{
        font-size: .99em;
         position: fixed;
        bottom:35px;
        padding-left: 5px;
        width: 200px;
        background-color: rgb(38, 38, 38);
        color: white;
     }
    
    #social {
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom: 0;
        width: 200px;
        border: 1px solid rgb(194, 117, 0);
    }
    #social > a > img {
        background-color: white;
        width: 30px;
        margin-left: 12px;
    }
    #homeBtn,
    #aboutMeBtn,
    #portfolioBtn,
    #contactMeBtn {
        width: 200px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1.6em;
        outline: none;
        border-top: 1px solid rgb(194, 117, 0);;
    }
    #homeBtn:hover,
    #aboutMeBtn:hover,
    #portfolioBtn:hover,
    #contactMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #portfolioImg {
        border: 2px solid green;
        margin-right: 30px;
        
    }
    #p{
     font-family: 'Courier New', Courier, monospace;
    }
    #aboutMe,
    #portfolio,
    #contactMe {

        padding-top: 5%;
        background-color: rgb(255, 255, 255);
    }
    
    #textarea {
        border-radius: 5px;
        margin-top: 40px;
        height: 200px;
        width: 100%;
    }
    #inputName{
        border: 1px solid black;
    }
    #inputEmail{
        border: 1px solid black;
    }
    #submitBtn {
        border: 1px solid black;
        border-radius: 5px;
    }
    .btn {
        background-color: rgb(92, 92, 92);
        width: 100%;
        color: white;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    div > div > div > .btn {
        background-color: rgb(0, 0, 0);
    }
    div > div > div > .btn:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    #motto {
        border-bottom: #4074b5 solid 2px;
        top:0;
        transition: top 0.5s;
        display: block;
        height: 10.6%;
        width: 100%;
        position: fixed;
        left: 110px;
        color: white;
        font-size: 10.7vh;
        text-align: center;
        color: #FFFFFF;
        background: #FFFFFF;
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    }
    
    .card.col-sm-3.col-6{
    position: static;
    padding: 0;
    margin: 20px;
    background-color: black;
    
    }
    
}
@media (max-width: 767.98px) {
   

 
    #navBtns {
        position: fixed;
        width: 0;
        background-color: black;
    }
    #homeBtn {
        position: fixed;
        top:0;
        height: 50px;
        width: 192px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;
    }
    #homeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #aboutMeBtn {
        position: fixed;
        left:25%;
        top:0;
        height: 50px;
        width: 192px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;
    }
    #aboutMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #portfolioBtn {
        position: fixed;
        left:50%;
        top:0;
        height: 50px;
        width: 192px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;
    }
    #portfolioBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #contactMeBtn {
        position: fixed;
        left:75%;
        top:0;
        height: 50px;
        width: 192px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;
    }
    #contactMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    .container {
        border: none;
        width: 100%;
        margin-left: 60px;
        padding: 0;

    }
    h2 {
        padding-top: 50px;
    }
    #phoneNum {
        background-color: rgb(0, 0, 0);
        position: fixed;
        bottom: 34px;
        width: 100%;
        border: 1px solid rgb(194, 117, 0);
        padding-left: 37%;
    }
    #social {
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        border: 1px solid rgb(194, 117, 0);
        padding-left: 36%;
    }
    .card.col-sm-3.col-6{
        position: static;
        padding: 0;
        background-color: black;
        margin: 0;
        }
        #portfolioImg {
            border: 2px solid green;
            margin-right: 10px;
        }
        #p {
            font-size: .9em;
        }
        #aboutMe,
        #portfolio {
            padding: 5%;
            background-color: rgb(255, 255, 255);
            height: 97.4vh
        }
}
@media (max-width: 720px) {

    #navBtns {

        position: fixed;
        width: 0;
        background-color: black;
    }
    #homeBtn {
        position: fixed;
        top:0;
        height: 50px;
        width: 180px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;

    }
    #homeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #aboutMeBtn {
        position: fixed;
        left:25%;
        top:0;
        height: 50px;
        width: 180px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;
    }
    #aboutMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #portfolioBtn {
        position: fixed;
        left:50%;
        top:0;
        height: 50px;
        width: 180px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;
    }
    #portfolioBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #contactMeBtn {
        position: fixed;
        left:75%;
        top:0;
        height: 50px;
        width: 180px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;
    }
    #contactMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    .container {
        margin-left: 0;
        width: 100%;
        height: 100vh;
    }
    #phoneNum {
        background-color: rgb(0, 0, 0);
        position: fixed;
        bottom: 34px;
        width: 100%;
        padding-left: 35%;
    }
    #social {
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-left: 34%;
    }
    .card.col-sm-3.col-6{
        position: static;
        padding: 0;
        background-color: rgb(255, 255, 255);
        margin: 0;
        }
        #portfolioImg {
            border: 2px solid green;
            margin-right: 10px;
        }
        #p {
            font-size: .9em;
        }
        #aboutMe,
        #portfolio {
            padding: 5%;
            background-color: rgb(255, 255, 255);
            height: 97.4vh
        }
}
@media (max-width: 575.98px) {
 

    #navBtns {

        position: fixed;
        width: 0;
        background-color: black;
    }
    #homeBtn {
        position: fixed;
        top:0;
        height: 50px;
        width: 145px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;

    }
    #homeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #aboutMeBtn {
        position: fixed;
        left:25%;
        top:0;
        height: 50px;
        width: 145px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;

    }
    #aboutMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #portfolioBtn {
        position: fixed;
        left:50%;
        top:0;
        height: 50px;
        width: 145px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;

    }
    #portfolioBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #contactMeBtn {
        position: fixed;
        left:75%;
        top:0;
        height: 50px;
        width: 145px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;

    }
    #contactMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    .container {

    
        height: 100vh;
        width: 100%;
        margin-left: 0;
        padding-left: 0 !important;
    }
    #phoneNum {
        background-color: rgb(0, 0, 0);
        position: fixed;
        bottom: 34px;
        width: 100%;
        border: 1px solid rgb(194, 117, 0);
        padding: 0 auto 0 auto;
    }
    #social {
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        border: 1px solid rgb(194, 117, 0);
        padding: 0 auto 0 auto;
    }
    .card.col-sm-3.col-6{
        position: static;
        padding: 0;
        background-color: black;
        margin: 0;
        }
        #portfolioImg {
            border: 2px solid green;
            margin-right: 10px;
        }
        #p {
            font-size: .9em;
        }
        #aboutMe,
        #portfolio {
            padding: 5%;
            background-color: rgb(255, 255, 255);
            height: 97.4vh
        }
}
@media (max-width: 500px) {
  
    #navBtns {

        position: fixed;
        width: 0;
        background-color: black;
    }
    #homeBtn {
        position: fixed;
        top:0;
        height: 50px;
        width: 125px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;

    }
    #homeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #aboutMeBtn {
        position: fixed;
        left:25%;
        top:0;
        height: 50px;
        width: 125px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;

    }
    #aboutMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #portfolioBtn {
        position: fixed;
        left:50%;
        top:0;
        height: 50px;
        width: 125px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;

    }
    #portfolioBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #contactMeBtn {
        position: fixed;
        left:75%;
        top:0;
        height: 50px;
        width: 125px;
        background-color: black;
        color: white;
        border:none;
        font-size: 1em;
        outline: none;

    }
    #contactMeBtn:hover {
        background-color: black;
        color: white;
        transition: .5s all ease;
    }
    .container {
        height: 140vh;
        margin-left: 0;
        width: 100%;

    }
    #phoneNum {
        background-color: rgb(0, 0, 0);
        position: fixed;
        bottom: 34px;
        width: 100%;
        border: 1px solid rgb(194, 117, 0);
        padding-left: 20vh;
    }
    #social {
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        border: 1px solid rgb(194, 117, 0);
        padding-left: 19vh;
    }
    .card.col-sm-3.col-6{
        position: static;
        padding: 0;
        background-color: black;
        margin: 0;
        }
        #portfolioImg {
            border: 2px solid green;
            margin-right: 10px;
        }
        #p {
            font-size: .9em;
        }
        #aboutMe,
        #portfolio {
            padding: 5%;
            background-color: rgb(255, 255, 255);
            height: 137vh
        }
}
@media (max-width: 360px) {
  
    #navBtns {

        position: fixed;
        width: 0;
        background-color: black;
    }
    #homeBtn {
        position: fixed;
        top:0;
        height: 50px;
        width: 90px !important;
        background-color: black;
        color: white;
        border:none;
        font-size: .7em !important;
        outline: none;

    }
    #homeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #aboutMeBtn {
        position: fixed;
        left:25%;
        top:0;
        height: 50px;
        width: 90px !important;
        background-color: black;
        color: white;
        border:none;
        font-size: .7em !important;
        outline: none;

    }
    #aboutMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #portfolioBtn {
        position: fixed;
        left:50%;
        top:0;
        height: 50px;
        width: 90px !important;
        background-color: black;
        color: white;
        border:none;
        font-size: .7em !important;
        outline: none;

    }
    #portfolioBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    #contactMeBtn {
        position: fixed;
        left:75%;
        top:0;
        height: 50px;
        width: 90px !important;
        background-color: black;
        color: white;
        border:none;
        font-size: .7em !important;
        outline: none;

    }
    #contactMeBtn:hover {
        background-color: white;
        color: black;
        transition: .5s all ease;
    }
    .container {
        width: 100%;
        padding: 10px 0 10px 0;
        background-color: rgba(255, 255, 255, 0.55);
        height: 190vh;
        border-top: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        margin-left: 0;
    }

    #phoneNum {
        background-color: rgb(0, 0, 0);
        position: fixed;
        bottom: 34px;
        width: 100%;

        padding-left: 23%;
    }
    #social {
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;

        padding-left: 22%;
    }
    .card.col-sm-3.col-6{
        position: static;
        padding: 0;
        background-color: black;
        margin: 0;
        }
        #portfolioImg {
            border: 2px solid green;
            margin-right: 10px;
        }
        #p {
            font-size: .9em;
        }
        #aboutMe,
        #portfolio {
            padding: 5%;
            background-color: rgb(255, 255, 255);
            height: 186.5vh;
        }
}