body {
    background-image: url(../images/photo-1486312338219-ce68d2c6f44d.jpeg);
    background-repeat: no-repeat;
    background-size: 200vh;
    background-position-y: -280px;
}   
#landingpage {
    height: 100vh;
}
#mainContent {
    background-image: url(../images/wall3.jpeg);
    height: 100vh;
    padding-bottom: 50px;
}
#portfolioContent {
    background-image: url(../images/wall5.png);
    background-size: 100%;
    height: 100vh;
}
#contactContent {
    background-image: url(../images/wall5.png);
    height: 100vh;

}
.container {
    padding: 100px;
    background-color: rgba(169, 169, 169, 0.55);
    height: 100vh;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
}

#navBtns {
    position: fixed;
    top:0;
    display: table;
    width: 200px;
    height: 100%;
    background-color: black;
    padding-top:140px;
}
#homeBtn {
    width: 200px;
    background-color: black;
    color: white;
    border:none;
    font-size: 1.6em;
    outline: none;
}
#aboutMeBtn {
    width: 200px;
    background-color: black;
    color: white;
    border:none;
    font-size: 1.6em;
    outline: none;
}
#portfolioBtn {
    width: 200px;
    background-color: black;
    color: white;
    border:none;
    font-size: 1.6em;
    outline: none;
}
#contactMeBtn {
    width: 200px;
    background-color: black;
    color: white;
    border:none;
    font-size: 1.6em;
    outline: none;
}
#p{
    padding-left: 250px;
}
#aboutMe {
    padding: 5%;
    background-color: white;
    height: 77vh;
}
#portfolio {
    padding: 5%;
    background-color: white;
    height: 77vh

}
#contactMe {
    padding: 5%;
}

#textarea {
    border-radius: 5px;
    margin-top: 40px;
    height: 200px;
    width: 100%;
}
#inputName{
    border: 1px solid black;
}
#inputEmail{
    border: 1px solid black;
}
#submitBtn {
    border: 1px solid black;
    border-radius: 5px;
}
#motto {
    border-bottom: #4074b5 solid 2px;
    top:0;
    transition: top 0.5s;
    display: block;
    height: 16.7%;
    width: 100%;
    position: fixed;
    left: 120px;
    color: white;
    font-size: 16.7vh;
    text-align: center;
    color: #FFFFFF;
background: #FFFFFF;
text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.card.col-3{
position: static;
}